{
    "extends": "standard",
    "plugins": [
      "html"
    ],
    "parser": "babel-eslint",
    "env": {
        "browser": true
    },
    "rules": {
        "arrow-parens": 0,
        "generator-star-spacing": 0,
        "no-unused-vars": [2, { 
          "vars": "local",
          "args": "none" 
        }],
        "semi": [0],
        "no-multiple-empty-lines": [0, {"max": 100}],
        "no-mixed-spaces-and-tabs": [0]
    }
}